.BuildControls{
    width: 100%;
    background-color: #CF8F2E;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}

.OrderButton {
    background-color: #DAD735;
    outline: none;
    cursor: pointer;
    border: 1px solid #966909;
    color: #966909;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    box-shadow: 2px 2px 2px #966909;
    width: 14.5rem;
}

.OrderButton:hover {
    background-color: #A0DB41;
    border: 1px solid #966909;
    color: #966909;
}

.OrderButton-active {
    background-color: #A0DB41;
    border: 1px solid #966909;
    color: #966909;
}

.OrderButton-disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.BuildControl {
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none;
}

.buil-btn-disabled {
    background-color: #AC9980 !important;
    border: 1px solid #7E7365 !important;
    color: #ccc !important;
    cursor: not-allowed !important;

}

.BuildControl button:hover {
    background-color: #AC9980;
    color: #ccc;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}
.BuildControl .less { 
    background-color: #D39952;
    color: white;
}
.BuildControl .more {
    background-color: #8F5E1E;
    color: white;
    cursor: pointer;
}
.BuildControl .less:hover, .BuildControl .less-active { 
    background-color: #DAA972;
    color: white;
}
.BuildControl .more:hover,.BuildControl .more-active {
    background-color: #99703F;
    color: white;
}