.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #703b09;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.navbar{
    box-shadow: none !important;
    /* margin: 5px; */
}

.logo
{ 
    background-color: white;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.fa-bars{
    color: #fff !important;
    font-weight: bold;
    font-size: 2.25rem !important;
    cursor: pointer;
}

.nav-list{
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.nav-item{
    height: 3.7rem;
}

.nav-item:hover{
    background-color: #8F5C2C ;
    border-bottom: 4px solid #40a4c8;
    color: #fff;
}

.active-menue{
    background-color: #8F5C2C ;
    border-bottom: 4px solid #40a4c8;
    color: #fff;
}

.nav-link{
    font-size: 1rem;
    font-weight: 400;
}