.Auth{
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.input-container{
    margin-top: 5px !important;
}

.Input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label{
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement{
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
}

.InputElement:focus{
    outline: none;
    background-color: #ccc;
}

.Invalid{
    border: 1px solid red;
    background-color: salmon;
}

.ValidationError {
    color: red;
    margin: 5px 0;
} 

.Button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}


@media (min-width: 600px){
    .Auth{
        width: 500px;
    }
}